body {
    background: rgba(255, 0, 0, 0.5);
}

#mother {
    height: 200px;
    width: 200px;
    background-color: whitesmoke;
    margin: auto;
    margin-top: 250px;
    animation: rotate3 10s linear infinite;
}

@keyframes rotate3 {
    0% {
        transform: rotate(0deg);
        background-color: blueviolet;
    }

    25% {
        transform: rotate(90deg);
        background-color: grey;
    }

    50% {
        transform: rotate(180deg);
        background-color: greenyellow;
    }

    75% {
        transform: rotate(270deg);
        background-color: green;
    }

    100% {
        transform: rotate(360deg);
        background-color: yellow;
    }
}